*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #EFEFEF;
}

.content{
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
}

.content-box{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 93%;
    height: 260px;
    background-color: white;
    border-radius: 8px;
}

.shop-detail{
    height: 260px;
    display: flex;
    align-items: center;
}

.shop-image{
    margin-left: 20px;
    height: 220px;
    width: 220px;
    background-size: cover;
    /* background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center; */
}

.shop-info{
    width: 300px;
    margin-left: 20px;
    height: 200px;
}

.shop-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.shop-location{
    font-size: 1;
    color: #2e2f2f;
}

.queue-detail{
    width: 200px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.queue-length{
    display: flex;
    font-size: 1.2rem;
    color: #2e2f2f;
    margin-bottom: 120px;
}

.queue-length-digit{
    padding-left: 5px;
    font-size: 1.5rem;
    color: crimson;
}

.expected-time{
    display: flex;
    color: crimson;
    font-size: 1.1rem;
}

.expected-time-digit{
    font-size: 1.1rem;
    padding-left: 5px;
}

.extra-option{
    height: auto;
    display: flex;
    width: 220px;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.book-button button{
    height: 40px;
    width: 190px;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2e2f2f ;
    border-style: none;
    border: 2px solid transparent;
    border-radius: 6px;
}

.book-button button:hover{
    background: #c6c4c6;
    color: #2e2f2f;
    border-color: #2e2f2f;
}
