* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #EFEFEF;
    display: flex;
}

.dashboard {
    width: max-content;
    width: 220px;
    margin-top: 55px;
}

.sidebar {
    display: inline-block;
    width: 220px;
    background: #2E2F2F;
    color: white;
    padding: 20px;
    min-height: 92.5vh;
}

.sidebar h2 {
    margin-bottom: 50px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px ;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background: #34495e;
}

/* content */

.content{
    margin-top: 60px;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
}

.shop-element{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120%;
    height: 260px;
    background-color: white;
    border-radius: 8px;
}

.shop-detail{
    height: 260px;
    display: flex;
    align-items: center;
}

.shop-image{
    margin-left: 20px;
    height: 220px;
    width: 220px;
    background-size: cover;
    /* background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center; */
}

.shop-info{
    width: 300px;
    margin-left: 20px;
    height: 200px;
}

.shop-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.shop-location{
    font-size: 1;
    color: #2e2f2f;
}

.queue-detail{
    width: 200px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.queue-length{
    display: flex;
    font-size: 1.2rem;
    color: #2e2f2f;
    margin-bottom: 120px;
}

.queue-length-digit{
    padding-left: 5px;
    font-size: 1.5rem;
    color: crimson;
}

.expected-time{
    display: flex;
    color: crimson;
    font-size: 1.1rem;
}

.expected-time-digit{
    font-size: 1.1rem;
    padding-left: 5px;
}

.extra-option{
    height: 100px;
    display: flex;
    width: 230px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 40px;
    color: #453030;
}

.book-time{
    display: flex;
}

.book-date{
    display: flex;
}

.transection-id{
    display: flex;
}